@import "./custom.scss";
html,
body {
  height: 100%;
}

.container {
  min-height: 82vh;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.home-container {
  min-height: 75vh;
  margin: 0;
  margin-bottom: 4rem;
}

.home-upper {
  margin: 0;
  height: 23rem;
  background: url("../imgs/home-bg.jpg");
  background-size: 100%;
  background-repeat: repeat;
  opacity: 0.8;
  margin-bottom: 2rem;
}

/* For small screen */
.home-upper-text {
  padding: 2rem 2rem;
  width: 85%;
  font-size: 0.5rem;
}

/* App Footer */
.app-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 35rem;
  margin-top: 0;
  padding: 0 2rem;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}

.app-footer div {
  width: 100%;
}

.text-sm-size {
  font-size: 0.75em;
}

@media only screen and (min-width: 576px) {
  .home-upper-text {
    padding: 2rem 2rem;
    width: 85%;
    font-size: 0.75rem;
  }
}

@media only screen and (min-width: 768px) {
  .home-upper-text {
    padding: 2rem 2rem;
    width: 85%;
    font-size: 1rem;
  }

  .app-footer {
    height: 22rem;
  }
}

@media only screen and (min-width: 992px) {
  .home-upper-text {
    padding: 2rem 2rem;
    width: 80%;
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1200px) {
  .home-upper-text {
    padding: 2.5rem 4rem;
    width: 75%;
    font-size: 1rem;
  }

  .homepage-card {
    height: 33rem;
    max-height: 33rem;
    min-height: 33rem;
    overflow: scroll;
  }

  .app-footer div {
    width: 85%;
  }
}

@media only screen and (min-width: 1400px) {
  .homepage-card {
    height: 60vh;
    max-height: 60vh;
    min-height: 60vh;
    overflow: scroll;
  }

  .app-footer div {
    width: 75%;
  }
}

.home-upper-text h1,
.home-upper-text p,
.home-upper-text li,
.home-upper-text button {
  color: $white;
}

.home-lower {
  width: 80%;
  margin: auto;
}

.footer-social-icons {
  margin-top: 0.5rem;
  font-size: 2rem;
}

.footer-social-icons a {
  margin-right: 1rem;
  color: $grey-darken-4;
}

.footer-social-icons a:hover {
  color: $grey-darken-2;
}

.app-footer ul {
  list-style-type: none;
  line-height: 2rem;
}

/* Custom Radio Buttons */
.custom-control-label::before {
  background-color: $primary-color;
}

/* App Header Navbar */
.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

.nav-item {
  padding-top: 4px;
  padding-bottom: 2px;
}

.nav-item a {
  border-bottom: 3px $bg-light solid;
}

.nav-item a.active,
.nav-item a:hover {
  border-bottom: 3px $primary-color solid;
}

.nav-item .dropdown-menu a.active,
.nav-item .dropdown-menu a:hover {
  border-bottom: none;
}

.dropdown-item.active,
.dropdown-item:active {
  color: $black;
  text-decoration: none;
  background-color: $white;
}

/* Side Navbar */
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: $primary-color;
  background-color: #fff;
  border-left: 3px $primary-color solid;
}

.nav-pills .nav-link {
  border-radius: 0;
  padding: 0.25rem 0.75rem;
  margin: 0.5rem 0;
}

.nav-pills .nav-link {
  color: $grey-darken-2;
}

/* Collapsable Table */
.card-header {
  background-color: $grey-lighten-2;
}

h6[aria-expanded="true"] .fa-plus {
  display: none;
}

h6[aria-expanded="false"] .fa-minus {
  display: none;
}

a {
  color: $primary-color-dark;
}

p a {
  color: $primary-color;
  font-weight: 600;
}

a:hover {
  color: $primary-color-light;
  text-decoration: none;
}

/* Project */
.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.toolbar input {
  margin: 0 !important;
}

.toolbar a,
.toolbar .create-project-btn {
  padding: 0.5rem;
  height: 2.5rem;
  width: 9rem;
  margin-left: 3rem;
}

.toolbar .project-search-dropdown {
  width: 10rem;
}

.pagination-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

th,
ul {
  cursor: pointer;
}

/* Input tags */
.input-tag {
  background: white;
  border: 1px solid #d6d6d6;
  border-radius: 2px;
  display: flex;
  flex-wrap: wrap;
  padding: 3px 3px 0;
}

.input-tag input {
  border: none;
  width: 100%;
}

.input-tag__tags {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 100%;
}

.input-tag__tags li {
  align-items: center;
  background: $info;
  border-radius: 5px;
  color: white;
  display: flex;
  font-weight: 300;
  list-style: none;
  margin-bottom: 3px;
  margin-right: 5px;
  padding: 2px 10px;
}

.input-tag__tags li.input-tag__tags__input {
  background: none;
  flex-grow: 1;
  padding: 0;
}

/* cookie banner */
.CookieConsent {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: center !important;
  background: #2b373b !important;
  opacity: 0.8 !important;
  line-height: 150%;
  padding: 0.2rem 2rem;
}

.CookieConsent .text-sm {
  font-size: 0.9rem;
}

.CookieConsent .text-lg {
  font-size: 1.5rem;
}

.CookieConsent button {
  border-radius: 5px !important;
  color: #4e503b;
  font-size: 1.25rem;
}

.hoverable-node:hover {
  fill: #ff8542;
  r: 5;
}

/* Progress Bar */
.progressbar-container {
  width: 100%;
  height: auto;
}

.progressbar {
  width: 100%;
  counter-reset: step;
}

.progressbar li {
  list-style-type: none;
  width: 33.33%;
  margin: 2rem 0;
  float: left;
  font-size: 1.2rem;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #7d7d7d;
}

.progressbar li:before {
  width: 3rem;
  height: 3rem;
  content: counter(step);
  counter-increment: step;
  line-height: 2.5rem;
  border: 5px solid #7d7d7d;
  display: block;
  text-align: center;
  margin: 0 auto 0.625rem auto;
  border-radius: 50%;
  background-color: white;
}

.progressbar li:after {
  width: 100%;
  height: 0.5rem;
  content: "";
  position: absolute;
  background-color: $secondary;
  top: 1.2rem;
  left: -50%;
  z-index: -1;
}

.progressbar li:first-child:after {
  content: none;
}

.progressbar li.active {
  color: $success;
}

.progressbar li.active:before {
  border-color: $success;
}

.progressbar li.active:after {
  background-color: $success;
}

.public-key-collapse {
  max-width: 23rem;
}

.key-card {
  width: 100%;
  max-width: 25rem;
}

.slice-viewer-container {
  min-height: 82vh;
}

.tab-content {
  border-bottom: 1px solid #dee2e6;
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  padding: 1rem 0.5rem 0 0.5rem;
}

.tab-label-number {
  display: inline-block;
  margin-left: 0.5rem;
  min-width: 20px;
  padding: 0 6px;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  text-align: center;
  background-color: #dee2e6;
  border: 1px solid #dee2e6;
  border-radius: 2em;
}

/* Tabs style */
.tab-list {
  border-bottom: 1px solid #dee2e6;
  padding-left: 0;
  margin-bottom: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.tab-list-active {
  font-weight: 600;
  background-color: white;
  border: solid #dee2e6;
  border-width: 1px 1px 0 1px;
}

.notice-banner {
  margin-bottom: 0 !important;
}
