@import "./custom.scss";
html,
body {
  height: 100%;
}

.container {
  min-height: 82vh;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.home-container {
  min-height: 88vh;
  margin: 0;
  margin-bottom: 4rem;
}

.home-upper {
  margin: 0;
  height: 26rem;
}

.home-upper::after {
  content: "";
  height: 26rem;
  background: url("../imgs/home-bg.jpg");
  background-size: 100%;
  background-repeat: repeat;
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

/* For small screen */
.home-upper-text {
  padding: 2rem 2rem;
  width: 85%;
  font-size: 0.6rem;
}

@media only screen and (min-width: 700px) {
  .home-upper-text {
    padding: 2rem 2rem;
    width: 85%;
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1024px) {
  .home-upper-text {
    padding: 2rem 4rem;
    width: 75%;
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1160px) {
  .home-upper-text {
    padding: 2.5rem 4rem;
    width: 65%;
    font-size: 1rem;
  }
}

.home-upper-text h1,
.home-upper-text p,
.home-upper-text li,
.home-upper-text button {
  color: $white;
}

.home-lower {
  width: 80%;
  margin: auto;
}

/* App Footer */
.app-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 4em;
  margin-top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}

/* Custom Radio Buttons */
.custom-control-label::before {
  background-color: $primary-color;
}

/* App Header Navbar */
.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-nav {
  margin-top: 4px;
  padding-bottom: 2px;
}

.nav-item a.active,
.nav-item a:hover {
  border-bottom: 3px $primary-color solid;
}

.nav-item .dropdown-menu a.active,
.nav-item .dropdown-menu a:hover {
  border-bottom: none;
}

.dropdown-item.active,
.dropdown-item:active {
  color: $black;
  text-decoration: none;
  background-color: $white;
}

/* Side Navbar */
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: $primary-color;
  background-color: #fff;
  border-left: 3px $primary-color solid;
}

.nav-pills .nav-link {
  border-radius: 0;
  padding: 0.25rem 0.75rem;
  margin: 0.5rem 0;
}

.nav-pills .nav-link {
  color: $grey-darken-2;
}

/* Collapsable Table */
.card-header {
  background-color: $grey-lighten-2;
}

h6[aria-expanded="true"] .fa-plus {
  display: none;
}

h6[aria-expanded="false"] .fa-minus {
  display: none;
}

a {
  color: $primary-color-dark;
}

a:hover {
  color: $primary-color-light;
  text-decoration: none;
}

/* Project */
.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.toolbar input {
  margin: 0 !important;
}

.toolbar a,
.toolbar button {
  padding: 0.5rem;
  height: 2.5rem;
  width: 9rem;
  margin-left: 3rem;
}

.pagination-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

th,
ul {
  cursor: pointer;
}

/* Input tags */
.input-tag {
  background: white;
  border: 1px solid #d6d6d6;
  border-radius: 2px;
  display: flex;
  flex-wrap: wrap;
  padding: 3px 3px 0;
}

.input-tag input {
  border: none;
  width: 100%;
}

.input-tag__tags {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 100%;
}

.input-tag__tags li {
  align-items: center;
  background: $info;
  border-radius: 5px;
  color: white;
  display: flex;
  font-weight: 300;
  list-style: none;
  margin-bottom: 3px;
  margin-right: 5px;
  padding: 2px 10px;
}

.input-tag__tags li.input-tag__tags__input {
  background: none;
  flex-grow: 1;
  padding: 0;
}

/* cookie banner */
.CookieConsent {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: center !important;
  background: #2b373b !important;
  opacity: 0.8 !important;
  line-height: 150%;
  padding: 0.2rem 2rem;
}

.CookieConsent .text-sm {
  font-size: 0.9rem;
}

.CookieConsent .text-lg {
  font-size: 1.5rem;
}

.CookieConsent button {
  border-radius: 5px !important;
  color: #4e503b;
  font-size: 1.25rem;
}

.hoverable-node:hover {
  fill: #ff8542;
  r: 5;
}

/* Progress Bar */
.progressbar-container {
  width: 100%;
  height: auto;
}

.progressbar {
  width: 100%;
  counter-reset: step;
}

.progressbar li {
  list-style-type: none;
  width: 33.33%;
  margin: 2rem 0;
  float: left;
  font-size: 1.2rem;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #7d7d7d;
}

.progressbar li:before {
  width: 3rem;
  height: 3rem;
  content: counter(step);
  counter-increment: step;
  line-height: 2.5rem;
  border: 5px solid #7d7d7d;
  display: block;
  text-align: center;
  margin: 0 auto 0.625rem auto;
  border-radius: 50%;
  background-color: white;
}

.progressbar li:after {
  width: 100%;
  height: 0.5rem;
  content: "";
  position: absolute;
  background-color: $secondary;
  top: 1.2rem;
  left: -50%;
  z-index: -1;
}

.progressbar li:first-child:after {
  content: none;
}

.progressbar li.active {
  color: $success;
}

.progressbar li.active:before {
  border-color: $success;
}

.progressbar li.active:after {
  background-color: $success;
}
