.app-footer {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 4em;
  margin-top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-nav {
  margin-top: 4px;
}

.nav-item a.active,
.nav-item a:hover {
  border-bottom: 2px #5bc0de solid;
}

.nav-item .dropdown-menu a.active,
.nav-item .dropdown-menu a:hover {
  border-bottom: none;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #000;
  text-decoration: none;
  background-color: #fff;
}

.container {
  margin-top: 2rem;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #007bff;
  background-color: #fff;
  border-left: 3px #007bff solid;
}

.nav-pills .nav-link {
  border-radius: 0;
  padding: 0.25rem 0.75rem;
  margin: 0.5rem 0;
}

.nav-pills .nav-link {
  color: #5d5d5d;
}
