@import "./styles/custom.scss";
/* App Footer */
.app-footer {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 4em;
  margin-top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}

/* Custom Radio Buttons */
.custom-control-label::before {
  background-color: $primary-color;
}

/* App Header Navbar */
.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-nav {
  margin-top: 4px;
  padding-bottom: 2px;
}

.nav-item a.active,
.nav-item a:hover {
  border-bottom: 3px $primary-color solid;
}

.nav-item .dropdown-menu a.active,
.nav-item .dropdown-menu a:hover {
  border-bottom: none;
}

.dropdown-item.active,
.dropdown-item:active {
  color: $black;
  text-decoration: none;
  background-color: $white;
}

/* Side Navbar */
.container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: $primary-color;
  background-color: #fff;
  border-left: 3px $primary-color solid;
}

.nav-pills .nav-link {
  border-radius: 0;
  padding: 0.25rem 0.75rem;
  margin: 0.5rem 0;
}

.nav-pills .nav-link {
  color: $grey-darken-2;
}

/* Collapsable Table */
.card-header {
  background-color: $grey-lighten-2;
}

h6[aria-expanded="true"] .fa-plus {
  display: none;
}

h6[aria-expanded="false"] .fa-minus {
  display: none;
}

a {
  color: $primary-color-dark;
}

a:hover {
  color: $primary-color-light;
  text-decoration: none;
}
