# API url file
# copy and paste this file as config.json in /src
# replace ****** with API domain names
# delete the 4 lines of comments and save
{
  "fabricCoreApiUrl": "https://******",
  "credentialManagerApiUrl": "https://******/credmgr/tokens",
  "orchestratorApiUrl": "https://******",
}